.custom-tabs {
  overflow: hidden; /* Keep content within bounds */
  display: flex;
  justify-content: flex-start; /* Align tabs to the left */
  gap: 18px;
}

.custom-tabs .nav-link {
  font-size: 17px;
  font-weight: 600;
  color: #007bff;
  padding: 8px 12px;
  text-align: center;
  margin-bottom: 0;
  border: none;
  border-radius: 5px 5px 0px 0px;
  transition: all 0.3s ease-in-out;
  outline: none;
  white-space: nowrap;
}

.nav-item {
  align-items: center;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
}

.status-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-tabs .nav-link.active {
  color: white !important;
  background-color: #2f4cdd; /* Active tab background color */
}

.custom-tabs .nav-link:hover {
  color: white !important;
  background-color: #2f4cdd; /* Hover effect */
}

.custom-tabs .tab-pane {
  padding: 20px; /* Add padding to content */
  background-color: #fff; /* White background for content area */
  border: 1px solid #ddd; /* Border for content area */
  border-top: none; /* Remove top border to connect with tabs */
  border-radius: 0 0 8px 8px; /* Rounded bottom corners */
}
.nav-justified .nav-item{
  flex-grow: 0;
}