.form-check-input {
  box-shadow: none !important;
}
.form-check-all {
  display: flex;
  align-items: center;
  gap: 2px; /* Adjust this value to control the spacing */
}

.form-check-input-all {
  margin-right: 0;
  margin-left: -44px;
}
.form-check-label-all {
  margin-bottom: 0; /* Ensure no extra margin from the label */
}
.modal-overlay-role {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content-role {
  background: #fff;
  width: 90%;
  max-width: 600px;
  height: 90vh; /* Fixed height */
  /* overflow: hidden;  */
  overflow-y: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content-role h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.form-group-role {
  margin-bottom: 1rem;
}

.form-check-role {
  margin-bottom: 0.5rem;
}

.modal-actions-role {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: auto; /* Push buttons to the bottom */
}

.permissions-container-role {
  flex: 1; /* Take available space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 1rem; /* Space for scrollbar */
}

.form-check-label {
  margin-left: 0.5rem;
}

.form-check-input {
  margin-right: 0.5rem;
}

