body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #FAFAFA;
}

.toast-container {
  z-index: 9999; /* Adjust the z-index to be higher than other elements */
}