.container_Graph_Dashboard{
    height: 300px;
    margin-top: 120px;
    margin-bottom: 80px;
    border: 1px solid #E4E4E7;
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffff;
}
/* Custom button styles */


/* Custom button styles */
.custom-btn {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: #A1A1AA !important;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.custom-btn.active {
    border-color: #A1A1AA !important; /* Keep the gray border color when active */
    color: #A1A1AA !important; /* Keep the text color gray when active */
}

/* Add hover effect */
.custom-btn:hover {
    border-color: #A1A1AA !important; /* Gray border on hover */
    color: #a1a1aa !important; ; /* Optional: text color change on hover */
}
.custom-btn:active,
.custom-btn:focus {
    border-color: #A1A1AA !important;
    color:#A1A1AA !important;
}
.ExportPdf-btn{
    background-color: transparent;
    border: 1px solid #A1A1AA ;
    color: #000000;
}
.SalesReport_Graph_Dashboard{
font-family:'Plus Jakarta Sans';
font-size: 16px;
font-weight: 700;
line-height: 24px;
}
.ExportPdf_Graph_Dashboard{
font-family: 'Plus Jakarta Sans';
font-size: 11px;
font-weight: 700;
line-height: 18px;
}
.MainHeading-Graph{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 765px){
    .container_Graph_Dashboard{
        height: 435px;
    }
    .MainHeading-Graph{
        display: flex;
        flex-direction: column;
    }
    .SalesReport_Graph_Dashboard{
        text-align: center;
    }
}